<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" if=$(eval False)>
    <arg name="world_name" value="$(find simulator_plugins)/../model_database/sim.world"/>
  </include>

  <include file="$(find gazebo_ros)/launch/empty_world.launch" if=$(eval True)>
    <arg name="world_name" value="$(find simulator_plugins)/../model_database/mars_desert_research_station.world"/>
  </include>
</launch>
