*pycharm*
*.idea*
.idea/*
*cmake-build-debug*
*catkin_tools_prebuild*
*.pyc
*.catkin_tools*
simulator_plugins/build*
simulator_plugins/devel*

*frames.pdf
*frames.gv
vision/neural_nets/training_outputs_*
