<?xml version="1.0"?>

<model>
  <name>rock</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>someone</name>
    <email>no@idea</email>
  </author>

  <description>
    A model rock from grabcad - https://grabcad.com/library/the-rock-1
  </description>
</model>
