<?xml version="1.0"?>
<model>
  <name>mars_desert_research_station_lower</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
   <name>David Michelman</name>
   <email>miched</email>
  </author>

  <description>
    A model of the mars desert research station (MDRS) (where URC takes place). 
    This is the lower 1km square patch that URC is legally allowed to use, 
    there is another 1km square patch that isn't modeled (URC takes place on
    state owned land, the rest is federal). A map can be downloaded here
    https://docs.google.com/viewer?a=v&pid=sites&srcid=bWFyc3NvY2lldHkub3JnfHVyY3xneDo3ZDI5ZTEzMDZjMmYxNjEw
  </description>
</model>