<?xml version="1.0"?>
<launch>

    <!-- Limit the message send rate, it can reach over 7000 msgs/sec when unlimited -->
    <node name="joy_0" pkg="joy" type="joy_node" respawn="true">
        <param name="dev" value="/dev/input/js0"/>
        <param name="deadzone" value="0.1"/>  <!-- appears to be broken -->
	</node>

    <!-- Limit the message send rate, it can reach over 7000 msgs/sec when unlimited -->
    <node name="joy_1" pkg="joy" type="joy_node" respawn="true">
        <param name="dev" value="/dev/input/js1"/>
        <param name="deadzone" value="0.1"/>  <!-- appears to be broken -->
	</node>

    <node name="joy_2" pkg="joy" type="joy_node" respawn="true">
        <param name="dev" value="/dev/input/js2"/>
        <param name="deadzone" value="0.1"/>  <!-- appears to be broken -->
	</node>

    <node name="joy_3" pkg="joy" type="joy_node" respawn="true">
        <param name="dev" value="/dev/input/js3"/>
        <param name="deadzone" value="0.1"/>  <!-- appears to be broken -->
	</node>

    <!-- this has UI components and other things that should run as part of the base station -->
    <include file="$(find rover_ui_plugins)/launch/map.launch" pass_all_args="true"/>
    
</launch>
