<?xml version="1.0"?>
<launch>
    <arg name="sim_world_file"/>

    <include file="$(find simulator)/launch/sim_any_map.launch" pass_all_args="true"/> 

    <!--<node name="wheel_odom_republisher" pkg="topic_tools" type="relay" args="/rover/imu/data /imu/data_raw"/>-->
    <node name="magnetometer_republisher" pkg="simulator" type="magnetometer_republisher.py">
        <remap from="~vect3_msg" to="/rover/magnetometer"/>
        <remap from="~mag_msg" to="/imu/mag"/>
        <remap from="~imu_msg_in" to="/rover/imu"/>
        <remap from="~imu_msg_out" to="/imu/data"/>
    </node>

    <node name="gps_covariance_booster" pkg="sensor_publisher" type="gps_covariance_booster.py" output="screen">
        <remap from="~gps_msg_in" to="/gps/fix_unadjusted"/>
        <remap from="~gps_msg_out" to="/gps/fix"/>
        <rosparam param="gps_scale_factor"> 20 </rosparam>
    </node>

    <node name="camera_transform_publisher" pkg="tf" type="static_transform_publisher" args="0.2 0 0.894 -1.57 0.0 -2.22 base_link zed_camera_center 10"/>
    <node pkg="tf" type="static_transform_publisher" name="base_to_gps" args="0 0 0 0 0 0 base_link gps0_link 100" />
    <node pkg="tf" type="static_transform_publisher" name="base_to_imu" args="0 0 0 0 0 3.14159 base_link base_imu_link 100" />
    
    <!-- <node name="rviz_sim" pkg="rviz" type="rviz" output="screen" /> -->
</launch>
