<?xml version="1.0"?>
<launch>
  <node name="gps_publisher" pkg="sensor_publisher" type="gps_publisher.py">
  </node>

  <!-- GPS nmea sentences to coordinates-->
  <node name="gps_parser" pkg="nmea_navsat_driver" type="nmea_topic_driver" >
      <remap from="/nmea_sentence" to="/gps/nmea_sentence"/>
      <remap from="/fix" to="/gps/fix_unadjusted"/>
      <remap from="/vel" to="/gps/vel"/>
      <remap from="/time_reference" to="/gps/time_reference"/>
  </node>

  <node name="gps_covariance_booster" pkg="sensor_publisher" type="gps_covariance_booster.py" output="screen">
      <remap from="~gps_msg_in" to="/gps/fix_unadjusted"/>
      <remap from="~gps_msg_out" to="/gps/fix"/>
      <rosparam param="gps_scale_factor"> 20 </rosparam>
  </node>

</launch>
