<launch>
  <arg name="razor_config_file" default="$(find sensor_publisher)/config/razor.yaml"/>
  <node pkg="razor_imu_9dof" type="imu_node.py" name="imu_node" output="screen">
    <rosparam file="$(arg razor_config_file)" command="load"/>
    <remap from="/imu" to="/imu/data"/>
  </node>

  <node name="imu_quaternion_to_rpy" pkg="utils" type="imu_msg_to_xyz_rpy.py">
    <remap from="~imu_msg_in" to="/imu/data"/>
    <remap from="~imu_msg_out" to="/debug/imu_rpy"/>
  </node>
</launch>
