<launch>
    <node pkg="tf" type="static_transform_publisher" name="swri_transform" args="0 0 0 0 0 0 map dummy 10"  />

    <node pkg="swri_transform_util" type="initialize_origin.py" name="initialize_origin" >
        <param name="local_xy_frame" value="map"/>
        <param name="local_xy_origin" value="86Field_Garage"/>
        <rosparam param="local_xy_origins">
            [{ name: 86Field_Garage,
               latitude: 42.72990113092738,
               longitude: -73.67916658941294,
               altitude: 129.69,
               heading: 0.0},
             { name: 86Field,
               latitude: 42.729957 ,
               longitude: -73.679659,
               altitude: 129.69,
               heading: 0.0}]
        </rosparam>
    </node>

    <node pkg="mapviz" type="mapviz" name="mapscviz"/>

    <include file="$(find rover_ui_plugins)/launch/translator.launch"/>
</launch>
