<?xml version="1.0"?>
<model>
  <name>Test Robot</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>David</name>
   <email>miched@rpi.edu</email>
  </author>

  <description>
    A robot from the tutorial http://gazebosim.org/tutorials?tut=build_robot
  </description>
</model>
