<?xml version="1.0"?>
<launch>

    <!-- Limit the message send rate, it can reach over 7000 msgs/sec when unlimited -->
    <node name="joy" pkg="joy" type="joy_node" respawn="true">
        <param name="dev" value="/dev/input/js0"/>
        <param name="deadzone" value="0.1"/>
	</node>

    <!-- this has UI components and other things that should run as part of the base station -->
    <include file="$(find rover_ui_plugins)/launch/map.launch" pass_all_args="true"/>
    
</launch>
