<?xml version="1.0"?>
<launch>

    <!-- this launch file contains motor drivers and sensors -->

    <node name="motornode_left" pkg="drive" type="motornode.py">
        <param name="controller_name" value="front"/>
        <param name="m1_name" value="/motors/left"/>
        <param name="m2_name" value="/motors/left"/>
        <param name="address" value="129"/>
    </node>
    <node name="motornode_right" pkg="drive" type="motornode.py">
        <param name="controller_name" value="back"/>
        <param name="m1_name" value="/motors/right"/>
        <param name="m2_name" value="/motors/right"/>
        <param name="address" value="128"/>
    </node>
    
</launch>
