<?xml version="1.0"?>
<launch>

    <!-- this launch file contains motor drivers and sensors -->

    <node name="motornode_left" pkg="drive" type="motornode.py">
        <param name="controller_name" value="left"/>
        <param name="pub_enc" value="true"/>
        <param name="m1_name" value="/motors/left"/>
        <param name="m2_name" value="/motors/left"/>
        <param name="address" value="129"/>
    </node>
    
    <node name="motornode_right" pkg="drive" type="motornode.py">
        <param name="controller_name" value="right"/>
        <param name="pub_enc" value="true"/>
        <param name="m1_name" value="/motors/right"/>
        <param name="m2_name" value="/motors/right"/>
        <param name="address" value="128"/>
    </node>

    <!--<node name="motornode_arm_1" pkg="drive" type="motornode.py">
        <param name="controller_name" value="right"/>
        <param name="pub_enc" value="true"/>
        <param name="m1_name" value="/motors/elbow"/>
        <param name="m2_name" value="/motors/shoulder"/>
        <param name="address" value="130"/>
    </node>

    <node name="motornode_arm_2" pkg="drive" type="motornode.py">
        <param name="controller_name" value="right"/>
        <param name="pub_enc" value="false"/>
        <param name="m1_name" value="/motors/turret"/>
        <param name="m2_name" value="/motors/not_connected"/>
        <param name="address" value="131"/>
    </node>-->
    
</launch>
