<?xml version="1.0"?>
<launch>
    <!-- ROSbags -->
    <node name="sensor_bag"
          pkg="rosbag" 
          type="play"
          args="$(env HOME)/catkin_ws/src/rosbags/rosbag-gps-walk-field-3.bag"/>

    <!-- 3D Sensors -->

    <!-- Localization Sensors -->
    <!-- <include file="$(find launch_files)/launch/start_sensors.launch"/> -->

    <!-- Transforms -->

    <!-- Robot Localization -->
    <!-- GPS coordinates to odometry -->
    <node name="navsat_tf" pkg="robot_localization" type="navsat_transform_node" respawn="true">
        <!-- Need to tune, I have no idea what this is 
             Refer to https://www.ngdc.noaa.gov/geomag/calculators/magcalc.shtml-->
        <!-- <param name="magnetic_declination_radians" value="0.235910337"/> -->
        <!-- Need to tune, yaw should == 0 when facing east -->
        <param name="yaw_offset" value="0"/> 
        <param name="zero_altitude" value="true"/> 

        <remap from="/imu/data" to="/imu/data" />
        <remap from="/gps/fix" to="/gps/fix" />
        <remap from="/odometry/filtered" to="/odometry/filtered"/>
    </node>

    <!-- Kalman Filter localization -->
    <node name="localization_node" pkg="robot_localization" type="ekf_localization_node" respawn="true">
        <param name="frequency" value="10"/>  
        <param name="sensor_timeout" value="0.2"/>  
        <param name="two_d_mode" value="true"/>

        <param name="odom0" value="odometry/gps"/>
        <param name="imu0" value="imu/data"/>

        <rosparam param="odom0_config">[true,  true,  false, 
                                        false, false, false, 
                                        false, false, false, 
                                        false, false, false,
                                        false, false, false]
        </rosparam>
        <param name="odom0_differential" value="true"/>

        <rosparam param="imu0_config">[false, false, false, 
                                       false, false,  true, 
                                       false, false, false, 
                                       false, false,  true,
                                       true,  false, false]
        </rosparam>
        <param name="imu0_differential" value="true"/>
    </node>
</launch>
