<?xml version="1.0"?>
<launch>
   
	<!--  This launch file is for all nodes that aren't hardware of simulator specific (eg, everythign but motor drivers). The vast majority of nodes should be launched from this file  -->

    <node name="joy" pkg="joy" type="joy_node">
		<!-- Limit the message send rate, it can reach over 7000 msgs/sec when unlimited -->
		<param name="~coalesce_interval" type="double" value="0.01"/>	
		<param name="~autorepeat_rate" type="double" value="0.05"/>
	</node>
    <node name="joy_control" pkg="drive" type="joycontrol.py"/>
	<node name="joy_to_motor" pkg="drive" type="joy_to_motor.py">
		<!-- <remap from="left_joystick_in" to="/left"/>
		<remap from="right_joystick_in" to="/right"/> -->
		<remap from="twist_in" to="/twist"/>
		<remap from="front_left_motor_power" to="/motors/frontLeft"/>
		<remap from="back_left_motor_power" to="/motors/backLeft"/>
		<remap from="front_right_motor_power" to="/motors/frontRight"/>
		<remap from="back_right_motor_power" to="/motors/backRight"/>
	</node>
  
</launch>
