<?xml version="1.0"?>
<launch>
    <include file="$(find launch_files)/launch/software_components2.launch" pass_all_args="true"/>

    <node name="motornode_front" pkg="drive" type="motornode2.py">
        <param name="controller_name" value="front"/>
        <param name="m1_name" value="/motors/left"/>
        <param name="m2_name" value="/motors/right"/>
        <param name="address" value="128"/>
    </node>
    <node name="motornode_back" pkg="drive" output="screen" type="motornode2.py">
        <param name="controller_name" value="back"/>
        <param name="m1_name" value="/motors/right"/>
        <param name="m2_name" value="/motors/left"/>
        <param name="address" value="129"/>
    </node>
</launch>
