<?xml version="1.0"?>
<launch>
    <!-- Sensor Publisher -->
    <node name="localization_sensors" pkg="sensor_publisher" type="sensor_publisher.py"/>

    <!-- GPS nmea sentences to coordinates-->
    <node name="gps_parser" pkg="nmea_navsat_driver" type="nmea_topic_driver" >
        <remap from="/nmea_sentence" to="/gps/nmea_sentence"/>
        <remap from="/fix" to="/gps/fix"/>
        <remap from="/vel" to="/gps/vel"/>
        <remap from="/time_reference" to="/gps/time_reference"/>
    </node>

    <!-- Sensor fusion for IMUs -->
    <node name="imu_filter" pkg="imu_filter_madgwick" type="imu_filter_node" >
        <param name="gain" value="0.1"/>
        <param name="zeta" value="0"/>
        <param name="mag_bias_x" value="0"/>
        <param name="mag_bias_y" value="0"/>
        <param name="mag_bias_z" value="0"/>
        <remap from="/imu/data_raw" to="imu/data_raw"/>
        <remap from="/imu/mag" to="/imu/mag"/>
    </node>

</launch>