<?xml version="1.0"?>
<launch>
<!--
    <node name="imu_filter_node" pkg="imu_filter_madgwick" type="imu_filter_node">
        <param name="zeta" value="0"/>
        <remap from="/imu/data_raw" to="/sensor/imu_data_raw"/>
        <remap from="/imu/mag" to="/sensor/mag_raw"/>
        <remap from="/imu/data" to="/position_fused"/>
    </node>
-->
    <node name="sensor_publisher" pkg="sensor_publisher" type="sensor_publisher.py">
        <remap from="nmea_sentences" to="/odom/nmea_sentences"/>
        <remap from="/imu_data_raw" to="/odom/imu"/>
        <remap from="mag_raw" to="/odom/mag"/>
    </node>
    <node name="gps_parser" pkg="nmea_navsat_driver" type="nmea_topic_driver">
        <remap from="/nmea_sentence" to="/odom/nmea_sentences"/>
        <remap from="/fix" to="/odom/fix"/>
    </node>



</launch>
