<?xml version="1.0"?>
<launch>
    <include file="$(find launch_files)/launch/software_components.launch" pass_all_args="true"/>

    <include file="$(find launch_files)/launch/hardware_motor_drivers.launch" pass_all_args="true"/>

    <include file="$(find launch_files)/launch/hardware_real_sensors.launch"/>

</launch>
