<library path="lib/librover_ui_plugins">
  <class name="Video Selection" type="rover_ui_plugins.video_selection.VideoSelectionPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
        Allows video streams to be chosen.
    </description>
    <qtgui>
      <group>
        <label>Rock Raiders Plugins</label>
      </group>
      <!-- optional grouping...
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>Video Selection</label>
      <icon type="theme">system-help</icon>
    </qtgui>
  </class>
  <class name="Battery Monitoring" type="rover_ui_plugins.battery_monitoring.BatteryMonitoringPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
        Monitors battery
    </description>
    <qtgui>
      <group>
        <label>Rock Raiders Plugins</label>
      </group>
      <!-- optional grouping...
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>Battery Monitoring</label>
      <icon type="theme">system-help</icon>
    </qtgui>
  </class>
  <class name="Kill Counter" type="rover_ui_plugins.kill_counter.KillCounterPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
        Counts martians killed
    </description>
    <qtgui>
      <group>
        <label>Rock Raiders Plugins</label>
      </group>
      <!-- optional grouping...
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>Kill Counter</label>
      <icon type="theme">system-help</icon>
    </qtgui>
  </class>
  <class name="rover_ui_plugins/button_test_cpp/ButtonTest" type="button_test_cpp::ButtonTest" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      A test C++ plugin, maybe with a button that would be pretty cool
    </description>
    <qtgui>
      <group>
        <label>Rock Raiders Plugins</label>
      </group>
      <label>this is a label.</label>
      <icon type="theme">system-help</icon>
      <statustip>https://www.youtube.com/watch?v=dQw4w9WgXcQ</statustip>
    </qtgui>
  </class>
</library>

